WebService.NET/ClienteWebService/ClienteWebService/Web References/ConsumirRomanos/conversionromanos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResultadoRomanos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arabigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResultadoRomanosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResultadoRomanosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ResultadoRomanosSoapIn">
    <wsdl:part name="parameters" element="tns:ResultadoRomanos" />
  </wsdl:message>
  <wsdl:message name="ResultadoRomanosSoapOut">
    <wsdl:part name="parameters" element="tns:ResultadoRomanosResponse" />
  </wsdl:message>
  <wsdl:portType name="ConversionRomanosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResultadoRomanos">
      <wsdl:input message="tns:ResultadoRomanosSoapIn" />
      <wsdl:output message="tns:ResultadoRomanosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConversionRomanosSoap" type="tns:ConversionRomanosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultadoRomanos">
      <soap:operation soapAction="http://tempuri.org/ResultadoRomanos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConversionRomanosSoap12" type="tns:ConversionRomanosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultadoRomanos">
      <soap12:operation soapAction="http://tempuri.org/ResultadoRomanos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConversionRomanos">
    <wsdl:port name="ConversionRomanosSoap" binding="tns:ConversionRomanosSoap">
      <soap:address location="http://localhost/wsRomanos/conversionromanos.asmx" />
    </wsdl:port>
    <wsdl:port name="ConversionRomanosSoap12" binding="tns:ConversionRomanosSoap12">
      <soap12:address location="http://localhost/wsRomanos/conversionromanos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>